<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web scraper</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="header">Python web scraping tutorial - Getting a websites title</div>
    <form action="/" method="POST" id="form">
        <input type="text" name="url" id="url">
        <button type="submit">Scrape</button>
    </form>
    {% if result != "" and result != None %}
    <p class="result">The title of the website is - {{result}}</p>
    {%endif%}
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>